@model List<UsuarioViewModel>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Lista de Usuários</title>
</head>
<body>
    <div class="user-list-container">
        <h2 class="user-list-title">Consultar Usuários</h2>
        @if (TempData["Mensagem"] != null)
        {
            <div id="mensagem" class="alert alert-success">@TempData["Mensagem"]</div>
            TempData["Mensagem"] = null;
        }
        @if (ViewBag.MensagemErro != null)
        {
            <div id="msgErro" class="alert alert-danger">
                @ViewBag.MensagemErro
            </div>
        }
        <script>
            function limpaCampos() {
                $('#Nome').val('');
                $('#Login').val('');
            }
        </script>

        <div class="filter-section">
            <form action="/Usuario/Consulta" method="post">
                <input id="Nome" type="text" class="filter-input" name="Nome" placeholder="Filtrar por Nome" value="@ViewBag.Filtros.Nome">
                <input id="Login" type="text" class="filter-input" name="Login" placeholder="Filtrar por Login" value="@ViewBag.Filtros.Login">

                <div class="action-buttons">
                    <div class="left-actions">
                        <input type="submit" class="btn-primary" value="Pesquisar">
                        <button type="button" class="btn-secondary" onclick="limpaCampos()">Limpar</button>
                    </div>
                    <div class="right-actions">
                        <button type="button" class="btn-primary" onclick="window.location.href='/Usuario/Adicionar'">Adicionar</button>
                        <button type="button" class="btn-secondary" onclick="window.location.href='/Home/Index'">Voltar</button>
                    </div>
                </div>
            </form>
        </div>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Primeiro Acesso</th>
                    <th class="action-column">Ações</th>
                </tr>
            </thead>
            <tbody id="tabelaUsuarios">
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Login</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@(usuario.IsPrimeiroAcesso ? "Pendente" : "Senha Cadastrada")</td>
                        <td class="action-column">
                            <a href="Editar?idUsuario=@usuario.Id" class="action-link">
                                <img src="/Imagens/edit.png" class="action-icon" />
                            </a>
                            <br>
                            <a onclick="confirmarExclusao(@usuario.Id)" class="action-link">
                                <img src="/Imagens/delete.png" class="action-icon" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <script>
            function confirmarExclusao(id) {
                Swal.fire({
                    title: 'Tem certeza?',
                    text: "Você realmente deseja excluir este Usuário?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sim, excluir!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/Usuario/Excluir?Id=' + id;
                    }
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                let mensagem = document.getElementById('mensagem');
                let msgErro = document.getElementById('msgErro');

                if (mensagem) {
                    setTimeout(() => {
                        mensagem.style.display = 'none';
                    }, 3000);
                }

                if (msgErro) {
                    setTimeout(() => {
                        msgErro.style.display = 'none';
                    }, 3000);
                }
            });
        </script>
    </div>
</body>
</html>