@model List<RegistroViewModel>
@using Newtonsoft.Json

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Histórico de Temperaturas";
}

<style>
    select {
        width: 18%;
        padding: 2px;
        height: 30px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input {
    }

        input.historico {
            width: 18%;
            padding: 8px;
            margin-bottom: 10px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    button {
        width: 10%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: black;
        color: white
    }

    tr:nth-child(even) {
        background-color: #fce6b5;
    }

    .placeholder{
        width:120%;
    }

</style>

<script>
    $(document).ready(function () {
        var valorDado = '@ViewBag.TipoDado';

        if (valorDado)
            $('#tipoDado').val(valorDado);
        else
            $('#tipoDado').val('Temperatura');

        dashboard2.onChangeCombo();

         table = $('#tabelaRegistros').DataTable({
                order: [[0, 'desc']],
                columns: [
                    { title: "Data/Hora" },
                    { title: "Temperatura (Cº)" },
                        { title: "Umidade (%)" },
                    { title: "Luminosidade (%)" }
                ]
            });
            dashboard2.montarTabelaRegistros(dados);
        });
</script>

<h1 id="titulo" class="mb-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="row" style="text-align:left">
        <label style="padding:10px" for="tipoDado">Selecionar dado:</label>
        <select id="tipoDado" name="tipoDado" onchange="dashboard2.onChangeCombo()">
            <option value="Temperatura">Temperatura</option>
            <option value="Umidade">Umidade</option>
            <option value="Luminosidade">Luminosidade</option>
            <option value="Geral">Geral</option>
        </select>
        <label style="padding:10px" for="DataInicio">Data Início:</label>
        <input class="input historico" type="date" id="DataInicio" value="@ViewBag.DataInicio" name="Data" />

        <label style="padding:10px" for="DataFim">Data Fim:</label>
        <input class="input historico" type="date" id="DataFim" value="@ViewBag.DataFim" name="Data" />

        <label style="padding:10px"> </label>
        <button type="button" onclick="dashboard2.filtrar()">Filtrar</button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <canvas id="graficoHistorico" height="140"></canvas>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">Estatísticas</div>
                <div class="card-body">
                    <p class="val-min">Mínima: <span id="minTemp">--</span> C°</p>
                    <p class="val-max">Máxima: <span id="maxTemp">--</span></p>
                    <p class="val-mid">Média: <span id="mediaTemp">--</span></p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h5>Últimas Leituras</h5>
    <table id="tabelaRegistros" class="display">
        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Temperatura (Cº)</th>
                <th>Umidade (%)</th>
                <th>Luminosidade (%)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/site.js")"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-moment.js"></script>

    <script>
        const dados = @Html.Raw(JsonConvert.SerializeObject(Model));
                dadosDashBoard = dados.slice(-15);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}
