@model MotorViewModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Motor</title>
</head>
<body class="login-page">
    <form action="/Motor/Salvar" method="post" class="perfil-form-main">
        @Html.AntiForgeryToken()
        <div class="perfil-form-container">
            <h2 class="perfil-form-title">Cadastrar Motor</h2>
            <div class="perfil-form-content">
                <input id="idMotor" type="text" name="Id" value="@Model.Id" hidden>

                <div class="perfil-form-group">
                    <label class="perfil-form-label">Modelo:</label>
                    <span asp-validation-for="Modelo" class="perfil-validation-error"></span>
                    <input type="text" class="perfil-form-input" asp-for="Modelo" placeholder="Modelo" value="@Model.Modelo" maxlength="50">
                </div>

                <div class="perfil-form-group">
                    <label class="perfil-form-label">Fabricante:</label>
                    <span asp-validation-for="Fabricante" class="perfil-validation-error"></span>
                    <input type="text" class="perfil-form-input" asp-for="Fabricante" placeholder="Fabricante" value="@Model.Fabricante" maxlength="50">
                </div>

                <div class="perfil-form-group">
                    <label class="perfil-form-label">Temperatura de Secagem ºC:</label>
                    <input type="text" class="perfil-form-input" name="TemperaturaSecagem" placeholder="Temperatura de Secagem ºC" value="@Model.TemperaturaSecagem" maxlength="18">
                </div>

                <div class="perfil-form-group">
                    <label class="perfil-form-label">Número de Série:</label>
                    <span asp-validation-for="NumeroDeSerie" class="perfil-validation-error"></span>
                    <input type="text" class="perfil-form-input" asp-for="NumeroDeSerie" placeholder="Número de Série" value="@Model.NumeroDeSerie" maxlength="50">
                </div>
            </div>
        </div>

        <div class="perfil-form-actions">
            <input type="submit" value="Salvar" class="perfil-btn perfil-btn-primary">
            <button type="button" class="perfil-btn perfil-btn-secondary" onclick="window.location.href='/Motor/Consulta'">Cancelar</button>
        </div>
    </form>

    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>