@model List<MotorViewModel>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Lista de Motores</title>
</head>
<body>
    <div class="motor-list-container">
        <h2 class="motor-list-title">Consultar Motores</h2>
        @if (TempData["Mensagem"] != null)
        {
            <div id="mensagem" class="alert alert-success">@TempData["Mensagem"]</div>
            TempData["Mensagem"] = null;
        }
        @if (ViewBag.MensagemErro != null)
        {
            <div id="msgErro" class="alert alert-danger">
                @ViewBag.MensagemErro
            </div>
        }

        <div class="motor-filter-form">
            <form action="/Motor/Consulta" method="post">
                <input id="Modelo" type="text" class="motor-filter-input" name="Modelo" placeholder="Filtrar por Modelo" value="@ViewBag.Filtros.Modelo">
                <input id="Fabricante" type="text" class="motor-filter-input" name="Fabricante" placeholder="Filtrar por Fabricante" value="@ViewBag.Filtros.Fabricante">
                <input id="NumeroDeSerie" type="text" class="motor-filter-input" name="NumeroDeSerie" placeholder="Filtrar por Número de Série" value="@ViewBag.Filtros.NumeroDeSerie">

                <div class="action-buttons">
                    <div class="left-actions">
                        <input type="submit" class="btn-primary" value="Pesquisar">
                        <button type="button" class="motor-action-button" onclick="window.location.href='/Motor/Consulta'">
                            Limpar
                        </button>
                    </div>
                    <div class="right-actions">
                        <button type="button" class="btn-primary" onclick="window.location.href='/Motor/Adicionar'">
                            Adicionar
                        </button>
                        <button type="button" class="motor-action-button" onclick="window.location.href='/Home/Index'">
                            Voltar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-spacer"></div>
        <table class="motor-table">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                    <th>Temperatura de Secagem</th>
                    <th>Número de Série</th>
                    <th class="motor-action-cell">Ações</th>
                </tr>
            </thead>
            <tbody id="tabelaUsuarios">
                @foreach (var motor in Model)
                {
                    <tr>
                        <td>@motor.Modelo</td>
                        <td>@motor.Fabricante</td>
                        <td>@(motor.TemperaturaSecagem + " ºC")</td>
                        <td>@motor.NumeroDeSerie</td>
                        <td class="motor-action-cell">
                            <a href="Editar?idMotor=@motor.Id">
                                <img src="/Imagens/edit.png" class="motor-action-icon" />
                            </a>
                            <br>
                            <a onclick="confirmarExclusao(@motor.Id)">
                                <img src="/Imagens/delete.png" class="motor-action-icon" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
            function confirmarExclusao(id) {
                Swal.fire({
                    title: 'Tem certeza?',
                    text: "Você realmente deseja excluir este Motor?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sim, excluir!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/Motor/Excluir?Id=' + id;
                    }
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                let mensagem = document.getElementById('mensagem')
                if (mensagem) {
                    setTimeout(() => {
                        mensagem.style.display = 'none';
                    }, 3000);
                }

                let msgErro = document.getElementById('msgErro')
                if (msgErro) {
                    setTimeout(() => {
                        msgErro.style.display = 'none';
                    }, 3000);
                }
            });
        </script>
    </div>
</body>
</html>